@font-face {
    font-family: 'Swinton-Regular';
    src: url('./NNSwinton-Regular.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9F5E7; /* Updated to match your template */
    color: #456173; /* Text color for date and day */
    font-family: 'Swinton-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensure content is centered */
}

#full-date, #day-name {
    text-align: center; /* Center date and day */
}

#full-date {
    font-size: 27px; /* Smaller font size for the date */
    margin-bottom: -20px; /* Adjust spacing */
}

#day-name {
    font-size: 140px; /* Larger font size for the day */
    margin-top: 0;
}

.todo {
    background-color: transparent;
    border: none;
    color: inherit; /* Inherit color from data-color attribute */
    padding: 10px;
    font-size: 50px; /* Adjust font size */
    margin: 5px 0; /* Space between todos */
    border-radius: 5px; /* Rounded edges */
    display: flex;
    align-items: center;
}

/* Dynamic color classes added in JavaScript based on task property */
/* Example color, adjust according to your requirements */
.todo[data-color="Orange"] {color: #D68A4D;}
.todo[data-color="Brown"] {color: #846E64;}
/* Add additional color styles here */
