@font-face {
    font-family: 'Swinton-Regular';
    src: url('./NNSwinton-Regular.otf') format('opentype');
}


body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
    font-family: 'Swinton-Regular', sans-serif;
    display: flex;
    flex-direction: column;
}

#full-date {
    font-size: 27px;
}

#date-container {
    margin-left: 50px;
    margin-top: 50px;
}

#day-name {
    font-size: 200px;
    margin: -25px 10px 0px -15px;
}

.todo {
    margin-left: 50%;
    font-size: 60px;
    margin-bottom: 20px;
}

/* Add any additional styles from your previous CSS here */
